<div class="container">
  <mat-card class="example-card">
    
    <img mat-card-image src="assets/img/humanrace-samba.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <h3>Adidas Humanrece Samba</h3>
      <p>Giá bán: 2.500.000₫</p>
      <p>
        Sinh ra trên sân bóng, đôi Samba là biểu tượng vượt thời gian của phong cách đường phố. Mẫu giày này giữ nguyên những
         nét đặc trưng với thân giày bằng da mềm và các chi tiết phủ ngoài bằng da lộn.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  
  <mat-card class="example-card">
    
    <img mat-card-image src="assets/img/samba-decon.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <h3>Adidas Samba Decon</h3>
      <p>Giá bán: 2.700.000₫</p>
      <p>
        Sinh ra trên sân bóng, đôi Samba là biểu tượng vượt thời gian của phong cách đường phố. Mẫu giày này giữ nguyên những
         nét đặc trưng với thân giày bằng da mềm và các chi tiết phủ ngoài bằng da lộn.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  
  <mat-card class="example-card">
    
    <img mat-card-image src="assets/img/adidas-samba.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <h3>Adidas Samba</h3>
      <p>Giá bán: 2.300.000₫</p>
      <p>
        Sinh ra trên sân bóng, đôi Samba là biểu tượng vượt thời gian của phong cách đường phố. Mẫu giày này giữ nguyên những
         nét đặc trưng với thân giày bằng da mềm và các chi tiết phủ ngoài bằng da lộn.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  
</div>
