<div class="container">
    <div class="shoes">
        <div class="shoes_items" >
            <img src="assets/img/humanrace-samba.png" alt="">
            <div class="content">
                <h4>Giày humanrace samba</h4>
                <span>Giá bán: 2.330.000 VND</span>
                <p>Giày adidas Samba có thiết kế cách tân mà vẫn đảm bảo phong cách. Phiên bản này tái hiện bề dày di sản thông qua thiết kế kinh điển. Từ đôi chân của các cầu thủ bóng đá tới sàn diễn thời trang high-fashion, ...</p>
            </div>
            
        </div>
        <div class="shoes_items">
            <img src="assets/img/samba-decon.png" alt="">
            
            <div class="content">
                <h4>Giày samba decon</h4>
                <span>Giá bán: 2.330.000 VND</span>
                <p>Giày adidas Samba có thiết kế cách tân mà vẫn đảm bảo phong cách. Phiên bản này tái hiện bề dày di sản thông qua thiết kế kinh điển. Từ đôi chân của các cầu thủ bóng đá tới sàn diễn thời trang high-fashion, ...</p>
            </div>
        </div>
        <div class="shoes_items">
            <img src="assets/img/samba-decon.png" alt="">
            <div class="content">
                <h4>Giày samba decon</h4>
                <span>Giá bán: 2.330.000 VND</span>
                <p>Giày adidas Samba có thiết kế cách tân mà vẫn đảm bảo phong cách. Phiên bản này tái hiện bề dày di sản thông qua thiết kế kinh điển. Từ đôi chân của các cầu thủ bóng đá tới sàn diễn thời trang high-fashion, ...</p>
            </div>
        </div>
    </div>
</div>
